<nav class="navbar navbar-expand-sm fixed-top navbar-light hidden">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <%= cl_image_tag("https://res.cloudinary.com/teamupinc/image/upload/v1607522468/teamup/MIND_teamup_logo_infinity_xykhhw.png", alt: "logo", id: "navbar-logo") %>
    <% end %>
  </div>
  <div id="nav-icons-position">
    <%= link_to "about", about_path, class: "btn-navbar-about" %>
    <%= link_to "Solutions", root_path(@root, :anchor => "home-solutions-gray"), class: "btn-navbar-about" %>
    <%= link_to "contact us", new_solution_contact_path(6), id: "btn-navbar-contact" %>
  </div>
</nav>

