<div id="contact-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <% if @solution.name == 'neuro-selfie™' %>
          <h2 class="title-blue margin-top-50"><%= @solution.name %> contact form</h2>
        <% elsif @solution.name == 'teamup∞ 180°' || @solution.name == 'teamup∞ 360°' || @solution.name == 'teamup∞ Team Effectiveness' %>
          <h2 class="title-green margin-top-50"><%= @solution.name %> contact form</h2>
        <% else %>
          <h2 class="title-orange margin-top-50"><%= @solution.name %> contact form</h2>
        <% end %>
        <div id="contact-banner-intro">
          <p>We would love to hear from you.</p>
          <p>Please provide your contact details below and feel free to leave any additional comments or questions you might have.</p>
          <% unless @solution.name == 'General' || @solution.name == 'Team effectiveness workshop series' %>
            <p class="subtitles-grey">After you have submitted your contact details you will be able to download our <%= @solution.name %> sample report.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact-container">
  <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <div class="row">
      <div class="col">
        <div id="contact-form">
          <%= content_for(:the_links) do %>
              Accept <%= link_to "Terms & Conditions", terms_conditions_path,:remote => true, class: "link-color-orange" %>
              and <%=link_to "privacy Policy", privacy_policy_path, :remote => true, class: "link-color-orange" %>
          <% end %>

          <%= simple_form_for [ @solution, @contact ], html: { id: 'form-download' } do |f| %>
            <%= f.input :name, label: 'Your first and last name please',  placeholder: 'Jane Leader', error: 'Name is mandatory' %>
            <%= f.input :email, placeholder: 'user@domain.com' %>
            <% if @solution.name == 'General' %>
              <%= f.input :message, as: :text, required: 'required' %>
            <% else %>
              <%= f.input :message, as: :text %>
            <% end %>
            <%= f.input :terms, as: :boolean, required: 'required', :label => content_for(:the_links) %>
            <%= recaptcha_tags %>
            <% if @solution.name == 'neuro-selfie™' %>
              <%= f.submit "Send", class: "btn-blue-form margin-top-50", id: "btn-send" %>
            <% elsif @solution.name == 'teamup∞ 180°' || @solution.name == 'teamup∞ 360°' || @solution.name == 'teamup∞ Team Effectiveness' %>
              <%= f.submit "Send", class: "btn-green-form margin-top-50", id: "btn-send" %>
            <% else %>
              <%= f.submit "Send", class: "btn-orange margin-top-50", id: "btn-send" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
