<div id="contact-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-7">
        <h2 class="title-orange margin-top-50"><%= @solution.name %> contact form</h2>
        <div id="contact-banner-intro">
          <p>We would love to hear from you.</p>
          <p>Please provide your contact details below and feel free to leave my additional comments or questions you might have.</p>
          <% unless @solution.name == 'General' || @solution.name == 'Team effectiveness workshop series' %>
            <p class="subtitles-grey">After you have submited your contact details a button will appear to allow you to access our <%= @solution.name %> sample report.</p>
          <% end %>
        </div>
        <div class="margin-top-50">
          <% if @contact.id %>
            <%= link_to "download sample report", root_path, id: "btn-download", class: "btn-orange" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact-container">
  <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <div class="row">
      <div class="col">
        <div id="contact-form">
          <%= simple_form_for [ @solution, @contact ], html: { id: 'form-download' } do |f| %>
            <%= f.input :name, label: 'Your first and last name please',  placeholder: 'Jane Leader', error: 'Name is mandatory' %>
            <%= f.input :email, placeholder: 'user@domain.com' %>
            <%= f.input :message, as: :text %>
            <%= recaptcha_tags %>
            <%= f.submit "Send", class: "btn-orange margin-top-50", id: "btn-send" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
