<div id="home-banner">
  <div class="container">
    <div class="row" id="home-banner-container">
      <div class="col-5 col-xl-5">
        <%= image_tag("logo.png", :alt => "logo", :id => "img-banner-logo") %>
        <div id="home-banner-text">
          <h2 class="title-blue">Creating high performing teams</h2>
          <p class="justify-text">We believe that leaders and teams can always get better. Better Teams. Better Times. Striving for better is both healthy and something you can habituate.</p>
          <p class="justify-text">So teamup∞™ offers a range of solutions built on neuroscience designed to accelerate individual and team performance.</p>
        </div>
        <%= link_to "our solutions", root_path(@root, :anchor => "home-solutions"), id: "home-banner-btn" %>
      </div>
      <div class="col-7 col-xl-7">
        <%= video_tag "lined_head_silhouette.mp4", :type => "video/mp4", autoplay: :autoplay, preload: 'auto', muted: :muted, :height => '100%', :width => "100%", :id => "banner-video-head"%>
      </div>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- <div id="home-intro-gradient">  -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="home-intro-pic">
        <%= image_tag("report_magazine.jpg", :alt => "reports", :id => "img-reports") %>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 home-text-right">
        <p class="subtitles-grey"><strong>teamup∞™ are proprietary neuroscience-based assessments</strong></p>
        <h2 class="title-pink">Based on neuroscience</h2>
        <p class="justify-text">The teamup∞™ model for high performing teams is based exclusively on application of the latest neuroscience towards collaboration and collective intelligence. Workplaces are social systems, filled with people. Each and every brain is wired to be beautifully and predictably biased, energy conserving, meaning making and risk avoiding.</p>
        <p class="justify-text">So it’s essential that we use this growing knowledge to better enable teams to flourish. This is where teamup∞™ is different, because we lead with neuroscience.</p>
      </div>
    </div>
    <div class="home-btn-middle">
      <%= link_to "the science", "https://drive.google.com/file/d/1SN-c73-kVXU0CGZYfPFST0_RcCsVWxWU/view", target: :_blank, class: "btn-pink"%>
    </div>
    <div class="divider"></div>
    <div class="home-text-middle">
      <p id="quote"><em>“Without data, you’re just another person with an opinion”</em></p>
      <p id="quote-author">(W. Edwards Deming)</p>
    </div>
  </div>
<!-- </div> -->

<div class="divider_two"></div>

<!-- Temporary solution to background color div home-how-color -->
<div id="home-how-color">
  <div class="container" id="home-how">
    <h2 class="title-purple">How it works</h2>
    <p>teamup∞™ suggests there are six ongoing leadership roles needed to build a high performing team. The model is an infinity loop to represent both the sequential and ongoing responsibility of leaders to create an effective team.</p>
    <p>Our assessments help you to hone in on which of the six roles you do well, which you could improve upon, along with practical suggestions you can apply to your work today.</p>
    <div id="home-how-img">
      <%#= image_tag("infinity_loop.jpg", :alt => "infinity loop model", :id => "img-infinity-loop") %>
      <%= video_tag "loop_v2.mp4", :type => "video/mp4", autoplay: :autoplay, preload: 'auto', muted: :muted, :height => '426px', :width => "660px", :id => "home-video-loop"%>
    </div>
  </div>
</div>

<div id="home-solutions">
  <div class="container" id="home-solutions-content">
      <div id="home-solutions-title">
        <h2 class="title-green">Our Solutions</h2>
        <p class="subtitles-grey"><strong>We offer different leadership and team development solutions depending on your specific needs</strong></p>
      </div>
      <!-- NEUROSELFIE -->
      <div class="row" id="home-sol-neuroselfie">
        <div class="col-12 col-md-5 col-lg-5 col-xl-5" id="home-neuroselfie-img">
          <%= image_tag("report_ns.jpg", :alt => "neuro selfie report", :id => "img-report-ns") %>
        </div>
        <div class="col-12 col-md-7 col-lg-7 col-xl-7" id="home-ns-text-right">
          <p class="subtitles-grey"><strong>Start with the individual</strong></p>
          <h2 id="title-blue">neuro-selfie™</h2>
          <p class="justify-text">The neuro-selfie™ is a one page snapshot based on the latest neuroscience, for where your strengths and weaknesses lie in leading a team to high performance.</p>
          <p class="justify-text">It takes just a couple of minutes to complete and is a quick yet impactful self-report assessment which will lead to a greater understanding of which actions you can take to become an even stronger team leader.</p>
        </div>
      </div>
      <div class="home-text-middle">
        <p class="subtitles-grey"><strong>Click here to book your neuro-selfie™, and start your journey towards becoming a better individual and team leader</strong></p>
      </div>
      <div class="home-btn-middle margin-top-50">
        <%= link_to "book your neuro-selfie™", new_solution_contact_path(@solution), class: "btn-blue"%>
      </div>
  </div>
</div>

<div id="home-solutions-gray">
  <div class="container">
    <!-- TEAMUP 180° SOLUTION -->
    <div class="row">
      <div class="col-12 col-md-7 col-lg-7 col-xl-7 margin-top-50 ">
        <p class="subtitles-grey"><strong>Develop leaders</strong></p>
        <h2 class="title-green">teamup∞™ 180°</h2>
        <p class="justify-text">Based on the teamup∞™ model for high performing teams, the teamup∞™ 180° assessment offers comprehensive, evidence-based feedback for where your greatest strengths/development areas are for driving high performance with your team.  It gathers self, team and line manager feedback and offers developmental advice in each dimension.</p>
        <p class="justify-text">The report includes the latest neuroscience behind each of the six roles, and also provides the barriers to effectiveness which you are demonstrating as an additional platform for your growth.</p>
       <!-- <div class="margin-top-50">
          <%#= link_to "teamup∞™ 180° sample report", contact_path, class: "btn-green"%>
        </div> -->

        <!-- Button trigger modal -->
        <button type="button" class="btn-green margin-top-50" data-toggle="modal" data-target="#exampleModal">
          teamup∞™ 180° sample report
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               <%#= render 'contacts/form', contact: @contact, solution: @solution %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-5 col-xl-5 home-sol-img-left image-hide">
        <%= image_tag("report_180.jpg", :alt => "report", :class => "img-report") %>
      </div>
    </div>
  </div>
</div>

<!-- WORKSHOP -->
<div class="container" id="home-workshop">
  <div class="row" id="home-workshop-content">
    <div class="col-12 col-xl-8">
      <p class="subtitles-grey"><strong>Go beyond</strong></p>
      <h2 class="title-orange">Team effectiveness workshop series</h2>
      <p class="justify-text">Any one of the teamup∞™ assessments is an incredibly powerful diagnostic to better understand how to elevate your team leadership or effectiveness. However, sometimes we need expert support to bring the action plan to life, which is where the workshop series comes in.</p>
      <p class="justify-text">We can design and deliver virtual or in-person workshops which can accelerate your individual or team’s growth. These are fully customised to your needs and can be delivered across different time frames ranging from one-time launch workshops, to facilitated 12 month team effectiveness journeys.</p>
      <div class="margin-top-50">
        <%#= link_to "find out more", contact_path, class: "btn-orange"%>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container" id="footer-padding">
    <div class="row">
      <div class="col">
        <p><strong>teamup.inc - address placeholder</strong> | <%= link_to "Home", root_path, class: "footer-home"%> | <%= link_to "About", root_path, class: "footer-about"%> | <%= link_to "Privacy Policy", root_path, class: "footer-priv-policy"%></p>
      </div>
    </div>
  </div>
  <div class="container" id="footer-designer">
    <div class="row">
      <p>Designed by: Beatriz S.C. Longley</p>
    </div>
  </div>
</footer>
