<div id="home-banner-mobile">
  <div class="container">
    <div class="row" id="home-banner-container-mobile">
      <div class="col">
        <div id="home-banner-video-mobile">
          <%= cl_video_tag("https://res.cloudinary.com/beatrizscl/video/upload/v1605624509/teamup/lined_head_silhouette_o0asnj.mp4", id: "banner-video-head", height: '100%', width: "100%", autoplay: :autoplay, preload: 'auto', muted: :muted ) %>
        </div>
        <%= cl_image_tag("https://res.cloudinary.com/beatrizscl/image/upload/v1606127656/teamup/MIND_teamup_logo_infinity_uqc05v.png", alt: "logo", id: "img-banner-logo-mobile") %>
        <div id="home-banner-text-mobile">
          <h2 class="title-blue">Creating high performing teams</h2>
          <!-- <p class="justify-text">We believe that leaders and teams can always get better. Better Teams, Better Times.</p> -->
          <p class="justify-text">teamup∞™ offer a range of solutions based on applied neuroscience designed to accelerate individual and team performance.</p>
        </div>
        <!-- <div id="home-banner-quote-mobile">
          <h2 id="banner-quote-mobile"><em>Talent wins games, but teamwork wins championships</em> - Michael Jordan</h2>
        </div> -->
        <%= link_to "our solutions", root_path(@root, :anchor => "home-solutions-gray"), id: "home-banner-btn-mobile" %>
      </div>
    </div>
    <div class="row margin-top-50 text-middle">
      <div class="col">
        <h2 id="banner-quote"><em>Talent wins games, but teamwork wins championships</em></h2>
        <p id="quote-author">(Michael Jordan)</p>
      </div>
    </div>
  </div>
</div>

<div id="home-banner">
  <div class="container">
    <div class="row" id="home-banner-container">
      <div class="col-5 col-xl-6" id="home-banner-text-container">
        <%= cl_image_tag("https://res.cloudinary.com/beatrizscl/image/upload/v1606127656/teamup/MIND_teamup_logo_infinity_uqc05v.png", alt: "logo", id: "img-banner-logo") %>
        <div id="home-banner-text">
          <h2 class="title-blue">Creating high performing teams</h2>
          <!-- <p class="justify-text">We believe that leaders and teams can always get better. Better Teams, Better Times.</p> -->
          <p class="justify-text">teamup∞™ offer a range of solutions based on applied neuroscience designed to accelerate individual and team performance.</p>
        </div>
     <!--    <div id="home-banner-quote">
          <h2 id="banner-quote"><em>Talent wins games, but teamwork wins championships</em> - Michael Jordan</h2>
        </div> -->
        <%= link_to "our solutions", root_path(@root, :anchor => "home-solutions-gray"), id: "home-banner-btn", class: "text-middle" %>
      </div>
      <div class="col-7 col-xl-6">
        <%= cl_video_tag("https://res.cloudinary.com/beatrizscl/video/upload/v1605624509/teamup/lined_head_silhouette_o0asnj.mp4", id: "banner-video-head", height: '100%', width: "100%", autoplay: :autoplay, preload: 'auto', muted: :muted, style: "object-fit: none", overflow: 'hidden') %>
        <%#= video_tag "lined_head_silhouette.mp4", :type => "video/mp4", autoplay: :autoplay, preload: 'auto', muted: :muted, :height => '100%', :width => "100%", :id => "banner-video-head", :style => "object-fit: none"%>
      </div>
    </div>
    <div class="row margin-top-50 text-middle">
      <div class="col">
        <h2 id="banner-quote"><em>Talent wins games, but teamwork wins championships</em></h2>
        <p id="quote-author">(Michael Jordan)</p>
      </div>
    </div>
  </div>
</div>

<!-- HOME INTRO -->
<div id="home-intro-mobile">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 text-right" id="home-intro-pic">
        <p class="subtitles-grey"><strong>teamup∞™ are proprietary neuroscience-based assessments</strong></p>
        <h2 class="title-pink">Based on neuroscience</h2>
        <%= cl_image_tag("https://res.cloudinary.com/beatrizscl/image/upload/v1605625696/teamup/report_magazine_h4yyzq.jpg", alt: "reports", id: "img-reports") %>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 home-text-right">
        <p class="justify-text">The teamup∞ model for high performing teams is based exclusively on application of the latest neuroscience towards collaboration and collective intelligence. Workplaces are social systems, filled with people. Each and every brain is wired to be beautifully and predictably biased, energy conserving, meaning making and risk avoiding.</p>
        <p class="justify-text">So it’s essential that we use this growing knowledge to better enable teams to flourish. This is where teamup∞™ is different, because we lead with neuroscience.</p>
      </div>
    </div>
    <div class="home-btn-middle">
      <%= link_to "the science", "https://drive.google.com/file/d/1SN-c73-kVXU0CGZYfPFST0_RcCsVWxWU/view", target: :_blank, class: "btn-pink"%>
    </div>
    <div class="divider"></div>
    <div class="text-middle">
      <p id="quote"><em>Without data, you’re just another person with an opinion</em></p>
      <p id="quote-author">(W. Edwards Deming)</p>
    </div>
  </div>
</div>

<div id="home-intro">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="home-intro-pic">
        <%= cl_image_tag("https://res.cloudinary.com/beatrizscl/image/upload/v1605625696/teamup/report_magazine_h4yyzq.jpg", alt: "reports", id: "img-reports") %>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 home-text-right">
        <p class="subtitles-grey"><strong>teamup∞ are proprietary neuroscience-based assessments</strong></p>
        <h2 class="title-pink">Based on neuroscience</h2>
        <p class="justify-text">The teamup∞ model for high performing teams is based exclusively on application of the latest neuroscience towards collaboration and collective intelligence. Workplaces are social systems, filled with people. Each and every brain is wired to be beautifully and predictably biased, energy conserving, meaning making and risk avoiding.</p>
        <p class="justify-text">So it’s essential that we use this growing knowledge to better enable teams to flourish. This is where teamup∞™ is different, because we lead with neuroscience.</p>
      </div>
    </div>
    <div class="home-btn-middle">
      <%= link_to "the science", "https://drive.google.com/file/d/1SN-c73-kVXU0CGZYfPFST0_RcCsVWxWU/view", target: :_blank, class: "btn-pink"%>
    </div>
    <div class="divider"></div>
    <div class="text-middle">
      <p id="quote"><em>Without data, you’re just another person with an opinion</em></p>
      <p id="quote-author">(W. Edwards Deming)</p>
    </div>
  </div>
</div>

<div class="divider_two"></div>

<!-- HOME HOW -->
<!-- Temporary solution to background color div home-how-color -->
<div id="home-how-color">
  <div class="container" id="home-how">
    <h2 class="title-purple">How it works</h2>
    <p>teamup∞ suggests there are six ongoing leadership roles needed to build a high performing team. The model is an infinity loop to represent both the sequential and ongoing responsibility of leaders to create an effective team.</p>
    <p>Our assessments help you to hone in on which of the six roles you do well, which you could improve upon, along with practical suggestions you can apply to your work today.</p>
    <div id="home-how-img">
      <%= cl_video_tag("https://res.cloudinary.com/beatrizscl/video/upload/v1605625695/teamup/Loop-v5_svcehb.mp4", id: "home-video-loop", height: '100%', width: "100%", autoplay: :autoplay, preload: 'auto', muted: :muted) %>
    </div>
  </div>
</div>

<div id="home-solutions-gray">
  <div class="container" id="home-solutions-content">
      <div id="home-solutions-title">
        <h2 class="title-green">Our Solutions</h2>
        <p class="subtitles-grey"><strong>We offer different leadership and team development solutions depending on your specific needs</strong></p>
      </div>
  </div>
  <div class="container">
    <% @solutions.each_with_index do |solution, index| %>
      <div class="row">
        <div class="col-12 col-md-7 col-lg-7 col-xl-7 margin-top-50">
          <p class="subtitles-grey"><strong><%= solution.tagline %></strong></p>
          <h2 class="<%= solution.name == 'neuro-selfie™' ? "title-blue" : "title-green" %>"><%= solution.name unless solution.name == 'General' || solution.name == 'Team effectiveness workshop series' %></h2>
          <p class="justify-text"><%= solution.description_one %></p>
          <p class="justify-text"><%= solution.description_two %></p>
          <div class="margin-top-50">
            <% if solution.name == 'neuro-selfie™' %>
              <%= link_to solution.button, new_solution_contact_path(solution), class: 'btn-blue' %>
            <% elsif solution.name == 'General' || solution.name == 'Team effectiveness workshop series' %>
              <%= link_to solution.button, new_solution_contact_path(solution), class: 'hidden' %>
            <% else %>
              <%= link_to solution.button, new_solution_contact_path(solution), class: 'btn-green' %>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-5 home-sol-img-right image-hide margin-top-50">
          <% unless solution.name == 'General' || solution.name == 'Team effectiveness workshop series' %>
            <%= link_to cl_image_tag(solution.photo.key, alt: "report", class: "img-report"), new_solution_contact_path(solution) %>
          <% end %>
        </div>
      </div>
      <div class="row" id="solution-separation-container">
        <div class="<%= solution.name == 'teamup∞™ Team Effectiveness' || solution.name == 'General' || solution.name == 'Team effectiveness workshop series' ? "hidden" : "solutions-separation" %>"></div>
      </div>
    <% end %>
  </div>
</div>

<!-- WORKSHOP -->
<div class="container" id="home-workshop">
  <div class="row" id="home-workshop-content">
    <% @solutions.each_with_index do |solution, index| %>
      <% if solution.name == 'Team effectiveness workshop series' %>
        <div class="col-12 col-xl-8">
          <p class="subtitles-grey"><strong>Go beyond</strong></p>
          <h2 class="title-orange"><%= solution.name %></h2>
          <p class="justify-text">Any one of the teamup∞ assessments is an incredibly powerful diagnostic to better understand how to elevate your team leadership or effectiveness. However, sometimes we need expert support to bring the action plan to life, which is where the workshop series comes in.</p>
          <p class="justify-text">We can design and deliver virtual or in-person workshops which can accelerate your individual or team’s growth. These are fully customized to your needs and can be delivered across different time frames ranging from one-time launch workshops, to facilitated 12-month team effectiveness journeys.</p>
          <div class="margin-top-50">
            <%= link_to "find out more", new_solution_contact_path(solution), class: "btn-orange"%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
