<div class="motion-banner">
  <%= cl_video_tag("https://res.cloudinary.com/beatrizscl/video/upload/v1605625682/teamup/background-white_opnwrr.mp4", class: "banner-motion-video", height: '100%', width: "100%", autoplay: :autoplay, preload: 'auto', muted: :muted, loop: :loop, style: "object-fit: cover") %>
</div>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div class="container margin-top-150">
  <div class="row">
    <div class="col text-middle">
      <h2 class="<%= @solution.name == 'neuro-selfie™' ? 'title-blue' : 'title-green' %>"><em>No one can whistle a symphony. It takes a whole orchestra to play it.</em></h2>
      <p id="quote-author">(H.E. Luccock - American Professor and Author)</p>
    </div>
  </div>
</div>

<div id="show-solution">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-7 col-xl-7">
        <p class="subtitles-grey"><strong><%= @solution.tagline %></strong></p>
        <h2 class="<%= @solution.name == 'neuro-selfie™' ? 'title-blue' : 'title-green' %>"><%= @solution.name %></h2>
        <div id="show-solution-description">
          <p class="justify-text"><%= @solution.description_one %></p>
          <p class="justify-text"><%= @solution.description_two %></p>
        </div>
        <div class="margin-top-50">
          <!-- CHANGE THE LINK ON & ADD IF STATEMENT -->
          <% if @solution.name == 'neuro-selfie™' %>
            <%= link_to "click here to download neuro-selfie™ sample report", "https://drive.google.com/file/d/1VeRrvL-LTrB_jM4mxbHG4tSxm6AJaPQJ/view?usp=sharing", target: :_blank, class: "btn-blue-show"%>
          <% elsif @solution.name == 'teamup∞ 180°' %>
            <%= link_to "click here to download teamup∞ 180° sample report", "https://drive.google.com/file/d/1LtOe6oMfOC1ZTYVxqA7CWMzSyMx3BiFS/view", target: :_blank, class: "btn-green-show"%>
           <% elsif @solution.name == 'teamup∞ 360°' %>
            <%= link_to "click here to download teamup∞ 360° sample report", "https://drive.google.com/file/d/16EmGkKODMJMQutfIjjhwutbMdTnpRvPC/view", target: :_blank, class: "btn-green-show"%>
          <% elsif @solution.name == 'teamup∞ Team Effectiveness' %>
            <%= link_to "click here to download teamup∞ Team Effectiveness sample report", "https://drive.google.com/file/d/1JeDTCUcaEXD3WH7qa8QjrLhDNFSKF6zD/view?usp=sharing", target: :_blank, class: "btn-green-show"%>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-5 col-xl-5 home-sol-img-right image-hide">
        <%= cl_image_tag @solution.photo.key, alt: "report", class: "img-report" %>
      </div>
    </div>
  </div>
</div>
